/* Univerzalni stilovi */
body {
  background-image: url("https://wallpapercave.com/wp/OGoOmxs.jpg");
  background-attachment: fixed;
  background-size: 100vw 100vh;
}

/* Glavni stilovi */
header h1 {
  color: slateblue;
  font-family: algerian, serif;
  font-size: 400%;
  background: white;
  opacity: 0.8;
}

#quoteButton {
  font-size: 2rem;
  margin-top: 10vh;
  margin-bottom: 2vh;
  font-variant: small-caps;
}

#main-box {
  position: relative;
  border-radius: 10px;
  background-color: slateblue;
  color: white;
  opacity: 0.8;
  margin-bottom: 2vh;
}

#quote {
  font-family: "Courier New";
  font-size: 2rem;
  margin-top: 8vh;
  margin-bottom: 8vh;
}

#author {
  font-style: italic;
  font-size: 1.75rem;
  color: tomato;
  font-variant: small-caps;
  position: absolute;
  bottom: 3%;
  left: 3%;
}

#logo {
  width: 45px;
  position: absolute;
  bottom: 3%;
  right: 3%;
  border-radius: 10px;
  visibility: hidden;
}


/** Media queries **/
/* Laptop */
@media only screen and (min-width: 753px) and (max-width: 1024px) {
  /* Glavni stilovi */
  header h1 {
    font-size: 300%;
  }

  #quoteButton {
    font-size: 1.75rem;
  }

  #quote {
    font-size: 1.75rem;
  }

  #author {
    font-size: 1.5rem;
  }

  #logo {
    width: 40px;
  }
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 752px) {
  /* Glavni stilovi */
  header h1 {
    font-size: 200%;
  }

  #quoteButton {
    font-size: 1.5rem;
  }

  #quote {
    font-size: 1.5rem;
  }

  #author {
    font-size: 1.25rem;
  }

  #logo {
    width: 35px;
  }
}

/* Smartphone */
@media only screen and (max-width: 480px) {
  /* Glavni stilovi */
  header h1 {
    font-size: 150%;
  }

  #quoteButton {
    font-size: 1rem;
  }

  #quote {
    font-size: 1rem;
  }

  #author {
    font-size: 0.75rem;
  }

  #logo {
    width: 30px;
  }
}