@import url('https://fonts.googleapis.com/css?family=Felipa');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/* Universal styles */
body {
    background-image: url("https://image.ibb.co/b83AJV/OGoOmxs.jpg");
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

/* Headline styles */
header h1 {
    color: slateblue;
    font-family: 'Felipa', cursive;
    background: white;
    opacity: 0.9;
    font-size: 6rem;
}

/* Quote box styles */
#quote-box {
    border-radius: 10px;
    background-color: slateblue;
    color: white;
    opacity: 0.9;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-family: 'Inconsolata', monospace;
    font-size: 2.5rem;
}

#new-quote {
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-variant: small-caps;
    font-size: 2.5rem;
}

#text {
    margin: 0 2vw 20vh 2vw;
}

#author {
    font-style: italic;
    font-variant: small-caps;
    position: absolute;
    bottom: 2vh;
    left: 2vw;
    cursor: default;
}

#tweet-quote #logo {
    width: 45px;
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    border-radius: 10px;
}


/** Media queries **/
@media (max-width: 666px) {
    /* Headline styles */
    header h1 {
        font-size: 3rem;
    }

    /* Quote box styles */
    #quote-box {
        font-size: 1.5rem;
    }

    #new-quote {
        font-size: 1.5rem;
    }

    #tweet-quote #logo {
        width: 35px;
    }
}